torch
torchvision
ipdb
trimesh
einops
hydra-core
wandb
transformers
tqdm
sentence_transformers 
open3d
tabulate
zarr
multimethod
termcolor
shortuuid
diffusers
pandas
deepspeed
numba
easydict
timm
ftfy
chamferdist
flatdict
opencv-python
albumentations